 [[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"trefoil" = "==0.3.2"
"rasterio" = "*"
"90ed60a" = {path = "./seedsource-core", editable = true}
django-celery-results = "*"
social-auth-app-django = "*"
"psycopg2" = "*"
djangorestframework-filters = "*"
django-webpack-loader = "*"
pyproj = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
