{% extends 'password_reset_base.html' %}
{% load i18n %}

{% block content %}
    <h4>{% trans "Reset Password" %}</h4>
    <div>&nbsp;</div>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="token" value="{{ token }}" />

        {%  if form.token.errors %}
            <div class="alert alert-danger">{{ form.token.errors }}</div>
        {% elif form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        <table>
            {% if form.password.errors %}
                <tr><td colspan="2"><div class="alert alert-danger">{{ form.password.errors }}</div></td></tr>
            {% endif %}
            <tr>
                <td><strong>{% trans "New Password:" %} </strong></td>
                <td><input type="password" name="password" class="form-control form-inline" /></td>
            </tr>
            <tr>
                <td><strong>{% trans "Confirm Password:" %} </strong></td>
                <td><input type="password" name="confirm" class="form-control form-inline" /></td>
            </tr>
        </table>
        <div>&nbsp;</div>
        <input type="submit" value="Reset Password" class="btn btn-primary" />
    </form>
{% endblock %}
